form {
  margin-top: 10px;
  justify-content: flex-start;
}
label {
  font-size: 16px;
  width: 200px;
  display: block;
  text-align: left;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
input {
  width: 400px;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 4px;
  font-size: 16px;
}
tr:nth-child(even),
tr:nth-child(odd) {
  background: #ffffff;
}
.save {
  font-weight: bold;
  width: 130px;
  background: #cccccc;
  text-align: center;
}
table {
  border-style: none;
}
tr {
  border-style: none;
  text-align: left;
}
