table {
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}


th {
    border-bottom: 1px solid gray;
    background: none repeat scroll 0 0 #0775d3;
    padding: 10px;
    color: #fff;
}

tr {
    border-top: 1px solid gray;
    text-align: center;
}

    tr:nth-child(even) {
        background: #ffffff;
    }

    tr:nth-child(odd) {
        background: #bbbbbb;
    }


a {
    text-decoration: none !important;
}


.btnAdd {
    margin: 10px 0 !important;
    padding: 8px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
}

hr {
    margin: 0 !important;
}


.list-group {
    max-height: 400px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}